.headline {
  &-32 {
    font-size: 32px;
    line-height: 40px;
    
    &-600 {
      @extend .headline-32;
      font-weight: 600;
    }
  }

  &-24 {
    font-size: 24px;
    line-height: 32px;
    
    &-600 {
      @extend .headline-24;
      font-weight: 600;
    }
  }
}

.title {
  &-20 {
    font-size: 20px;
    line-height: 28px;
    
    &-600 {
      @extend .title-20;
      font-weight: 600;
    }
  }

  &-14 {
    font-size: 14px;
    line-height: 20px;
    
    &-600 {
      @extend .title-14;
      font-weight: 600;
    }
  }
}

.body {
  &-14 {
    font-size: 14px;
    line-height: 20px;
    
    &-400 {
      @extend .body-14;
      font-weight: 400;
    }
  }

  &-16 {
    font-size: 16px;
    line-height: 20px;
    
    &-400 {
      @extend .body-16;
      font-weight: 400;
    }
  }
}

.label {
  &-12 {
    font-size: 12px;
    line-height: 16px;
    
    &-400 {
      @extend .label-12;
      font-weight: 400;
    }

    &-600 {
      @extend .label-12;
      font-weight: 600;
    }
  }

  &-14 {
    font-size: 14px;
    line-height: 20px;

    &-400 {
      @extend .label-14;
      font-weight: 400;
    }

    &-600 {
      @extend .label-14;
      font-weight: 600;
    }
  }
}